<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Montserrat:200" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>  
  </head>
  <body>
      <header id="titles">
        <nav>
          <ul>
            <li class="navlist" id="brand"><a href="http://localhost:3000/home"><h3>Gamer Space</h3></a></li>
            <li class="navlist list"><a id="user" href="http://localhost:3000/account"><img id="profileImage" src="<%= user.photos[0].value %>"> <%= user.name['familyName'] %></a></li>
            <li class="navlist list"><a href="http://localhost:3000/home">Home</a></li>
           <li class="navlist list"><a href="http://localhost:3000/contact">Contact</a></li>
          </ul>
        </nav>
      </header>
    </header>
    <section id="contactForm">
     <form id="contactform" method="post" action="form">
      <label for="email">Email:</label><br>
      <input class="input" type="text" id="email" name="email"><br>
      <label for="email">Message</label><br>
      <textarea id="contactmessage" name="contactmessage" rows="4" cols="60"></textarea><br>
      <input type="submit" id="contactbutton" name="contactbutton" value="Submit">
     </form>
    </section>
    <footer>
     <h3 id="footerTitle">@Gamer Space</h3>
    </footer> 
    <script src="/javascripts/main.js"></script>  
  </body>
</html>
